# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
jspm_packages/

# Build and Temp folders
dist/
dist-ssr/
*.tsbuildinfo
build/

# IDE and Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Database
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Framework/Tools specific
.vercel/
.next/
coverage/
.nyc_output/

# Documentation
INSTALLATION.md
