[Unit]
Description=GranStocks Node.js Fastify App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/granstocks/server
EnvironmentFile=/var/www/granstocks/server/.env
ExecStart=/usr/bin/node dist/index.js
Restart=on-failure
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
